/************************************************
   Stylesheet: The Monkees pure html/css website
   Author: Julian Garcia
   Date: 18 Sep 2018
 ************************************************/

/* Basic and html element styling */

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Dosis', sans-serif;
}

p,
a,
input,
textarea {
    font-family: 'Crimson Text', serif;
}

a {
    color: #660000;
    font-weight: 700;
}

a:hover {
    color: #000000;
    text-decoration: none
}

/* Prevent scroll overflow on smaller devices */
body,
html {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

main {
    min-height: calc(100% - 370px);
}

section {
    min-height: calc(100% - 370px);
}

/* Home page */

.home-section {
    padding: 20px 0 0 0;
    min-height: calc(100vh - 300px);
}

/* Ensure the home page band members are displayed uniformly
   and adjust well to various screen sizes                   */

.home-section .home-img-col {
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center left;
    max-width: 80%;
    height: 250px;
    border: 5px solid white;
    border-radius: 20px;
    margin: 5.5rem 10% 1rem 10%;
}

@media (min-width: 576px) {
    .home-section .home-img-col {
        height: 280px;
        margin: 5.5rem 0 1rem 0;
    }
}

@media (min-width: 992px) {
    .home-section .home-img-col {
        height: 200px;
    }
}

.home-section .home-img-col--pt {
    background: url("../images/pt.jpg");
}

.home-section .home-img-col--md {
    background: url("../images/md.jpg");
}

.home-section .home-img-col--dj {
    background: url("../images/dj.jpg");
    background-position: left top;
}

.home-section .home-img-col--mn {
    background: url("../images/mn.jpg");
}

.home-section .band-member-title {
    margin-top: -4rem;
    text-align: center;
}

/* For mobile, move the navigation menu to the very top of the screen
   to facilitate overall site accessibility on smaller devices */

.navbar--mobile {
    position: fixed;
    top:0px;
    right: 0px;
    z-index: 999;
    padding: 5px;
}

.navbar--mobile button {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid black;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.navbar--mobile i {
    color: #000;
    background-color: transparent;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.navbar--mobile button:hover {
  background-color: #000;
}

.navbar--mobile button:hover i {
  color: #fff;
}

/* Header section - houses: menu, page title and header image */

.header-container {
    padding: 0;
}

/* The header image is hidden on smaller devices to avoid
   pushing content down below the viewable portion of each
   page when the site initially loads */

.band-image {
    height: 0px;
    position: relative;
}

@media (min-width:576px) {
  .band-image {
    height: 50px;
  }
}

@media (min-width:768px) {
  .band-image {
    background: url("../images/monkees.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 260px;
  }
}

/* Vary the menu styling according to device. Bootstrap takes care
   of showing hiding the desktop/mobile menu according to screen size
   of the device */

.main-menu {
    position: absolute;
    top: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
    height: 54px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.mobile-menu {
    padding: 0;
    background: rgba(225, 225, 225, 0.95);
    text-align: center;
    position: fixed;
    top:0px;
    right:0px;
    left:0px;
    z-index: 99;
}

.main-menu .nav-link,
.mobile-menu .nav-link {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    position: relative;
    color: #000;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.main-menu .nav-link:hover,
.mobile-menu .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ff9000;
}

.main-menu .nav-link:after {
    opacity: 0;
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    content: "";
    z-index: 5;
    transition: all .5s ease-in-out;
    border: 1px solid black;
}

.main-menu .nav-link--albums:after {
    background-color: #660000;
}

.main-menu .nav-link--albums:hover {
    color: #660000;
    background-color: rgba(244, 240, 187, 0.6);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.main-menu .nav-link--albums.active {
    background-color: #660000;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.main-menu .nav-link--music:after {
    background-color: #990033;
}

.main-menu .nav-link--music:hover {
    color: #990033;
    background-color: rgba(135, 195, 143, 0.6);
}

.main-menu .nav-link--music.active {
    background-color: #990033;
    color: #fff;
}

.main-menu .nav-link--videos:after {
    background-color: #ff9000;
}

.main-menu .nav-link--videos:hover {
    color: #ff9000;
}

.main-menu .nav-link--videos.active {
    background-color: #ff9000;
    color: #fff;
}

.main-menu .nav-link--book:after {
    background-color: #87c38f;
}

.main-menu .nav-link--book:hover {
    color: #87c38f;
    background-color: rgba(153, 0, 51, 0.6);
}

.main-menu .nav-link--book.active {
    background-color: #87c38f;
    color: #000;
}

.main-menu .nav-link--gallery:after {
    background-color: #f4f0bb;
}

.main-menu .nav-link--gallery:hover {
    color: #f4f0bb;
    background-color: rgba(102, 0, 0, 0.6);
}

.main-menu .nav-link--gallery.active {
    background-color: #f4f0bb;
    color: #000;
}

.main-menu .nav-link:hover:after {
    opacity: 1;
}

.mobile-menu-icon {
    color: #fafafa;
    line-height: 1.5em;
}

/* Righthand section of the header showing site and page title and social media links */

.page-title-column {
    position: relative;
    background-color: #ff9000;
    min-height: 170px;
    text-align: center;
}

.page-title-column--albums {
    background-color: #660000;
    color: #fafafa;
}

.page-title-column--music {
    background-color: #990033;
    color: #fafafa;
}

.page-title-column--book {
    background-color: #87c38f;
    color: #000;
}

.page-title-column--gallery {
    background-color: #f4f0bb;
    color: #000;
}

.site-title {
    font-family: 'Bubblegum Sans', cursive;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.page-title {
    font-family: 'Dosis', sans-serif;
    font-size: 62px;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
}

.social {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.social li {
    display: inline-block;
    font-size: 24px;
    margin: 0;
    width: 15%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.social i {
    color: #fafafa;
}

/* Expand the social links to the size of their parent list item
   so that the link is active when hovering the entire list item
   rather than only when hovering over the social icon           */

.social li a {
  display: block;
}

.page-title-column--gallery .social i {
    color: #000;
}

.social li:hover {
    background-color: #fafafa;
    border-radius: 10px;
    color: #000;
}

.social li:hover i {
  color: #000;
}

.page-title-column--gallery .social li:hover {
    background-color: #fafafa;
}

/* Album page - timeline discography */

.timeline {
    padding: 20px 0;
    margin: 0;
}

.timeline h3,
.timeline h4 {
    color: #660000;
}

.timeline h5 {
    margin: 0;
}

.timeline i {
    color: #660000;
    font-size: 26px;
    position: absolute;
    left: -14px;
    top: 20%;
}

.timeline .item-right i {
    left: -3px;
}

.timeline .item-left i {
    right: -3px;
}

.timeline .item-right {
    position: relative;
    box-sizing: border-box;
    margin: 0 0 0 calc(50% - 3px);
    padding: 10px 20px 10px 30px;
    border-left: 3px dotted #660000;
    width: 50%;
    background-color: #fff;
    border-top: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
}

.timeline .item-right:before {
    background-color: #f4f0bb;
}

.timeline .item-left {
    position: relative;
    box-sizing: border-box;
    margin: 0 50% 0 0;
    padding: 10px 30px 10px 20px;
    text-align: right;
    border-right: 3px dotted #660000;
    width: 50%;
}

.timeline .item-left:before {
    background-color: #f4f0bb;
}

/* Music section listing - audio and video */

.music-section  {
    padding: 20px 30px;
}

.music-section .list-group-item:nth-child(odd) {
  background-color: #f0f0f0;
}

.music-section .list-group-item i,
.music-section .list-group-item h5  {
    color:#990033;
}

.music-section .list-group-item:hover i,
.music-section .list-group-item:hover h5 {
    color: #ff9000;
}

@media (min-width:450px) {
    .music-section {
        min-height: calc(100vh - 300px);
    }
}

/* Book Us - basic styling for the gig booking form */

.book-event-column {
    background-color: #87c38f;
    padding: 20px 30px;
}

.book-event-column p {
    margin-bottom: 0;
}

.book-event-column a, .timeline a {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.book-form-column {
    text-align: center;
    padding: 0 20px;
    margin: 20px 0;
}

.book-form-column input, .book-form-column textarea {
    margin-bottom: 20px;
}

.book-button {
    width: 100%;
    background-color: #87c38f;
    border: 2px solid transparent;
    color: #000;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.book-button:hover {
    background-color: #fafafa;
    color: #000;
    border: 2px solid #000;
}

/* Gallery section */

.gallery-section {
    padding-top: 30px;
}

.gallery-section img:hover {
    cursor: pointer;
}

footer {
    padding: 10px 0;
    height: 50px;
    background-color: #ff9000;
    text-align: center;
}
